<body>
<div class="main">
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
</div>
  <div class="main">
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
</div>
    <div class="main">
<div class="dot"></div>
<div class="dot"></div>

</div>
    <div class="main">
<div class="dot"></div>

</div>
</body>
<style>
  
  body{
    background:#191919;
  }
  .main{
    display:flex;
    

  }
  .dot{
    
    width: 40px;
    height: 40px;
    background: #F6E59C;
    border-radius: 100px;
    margin-left:17px;
    margin-top:12px;
  }
</style>

<!-- OBJECTIVE -->
<!-- Write HTML/CSS in this editor and replicate the given target image in the least code possible. What you write here, renders as it is -->

<!-- SCORING -->
<!-- The score is calculated based on the number of characters you use (this comment included :P) and how close you replicate the image. Read the FAQS (https://cssbattle.dev/faqs) for more info. -->

<!-- IMPORTANT: remove the comments before submitting -->
